/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.DS_Store
bcp-v1.2.code-workspace
public/mix-manifest.json
public/mix-manifest.json
public/mix-manifest.json
public/mix-manifest.json
public/mix-manifest.json
*.json
bcp-v1.2.code-workspace
bcp-v1.2.code-workspace
public/mix-manifest.json
*.code-workspace
bcp-v1.2.code-workspace
public/mix-manifest.json
